<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
  <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
</head>
<body>
  {{ block "main" . }}{{ end }}

  <script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
  {{ with .Site.Params.turnstileSiteKey }}
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  {{ end }}
  <script src="{{ "js/main.js" | relURL }}"></script>
</body>
</html>
